.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background2 {
  background-image: url('/toasters.png');
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
}

.headers2 {
  font-size: 90px;
  text-shadow: 2px 2px;
}
