.choice1Buttons, .choice2Buttons, .choice3Buttons, .choice4Buttons  {
  position: relative;
  top: -250px;
  margin: 10px;
  padding: 20px;
  font-family: "Verdana";
  border-radius: 10px;
  background-color: #b53d45;
}

.choice2Buttons {
  background-color: #ffd472;
}

.choice3Buttons {
  background-color: #9a74ed;
}

.choice4Buttons {
  background-color: #1ea0cc;
}

.buttonContainer {
  float: right;
  position: relative;
  left: -100px;
}
