body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Helvetica Neue",
    monospace;
}

/* NAV BAR */

.navBar {
  display: flex;
  justify-content: center;
  background-color: #F1D8F7;
  height: 70px;
}

.navBar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 0.2s ease-out;
  transition: .3s ease-in;
}

.navBar ul a {
  color: black;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-right: 30px;
  float: left;
  line-height: 10px;
  text-decoration: none;
  vertical-align: middle;
}

.navBar a:hover {
    color: white;
    text-decoration: none;
  }

/* PAGE SCROLLING  */
.title {
    margin: 20px auto 0;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.links .link {
    margin-top: 20px;
}

.component {
    height: 100%;
    width: 100%;
    display: flex;
}

.component.first-component {
    background-color: gray;
    position: relative;
}

.first-component--inside-scroller {
    position: absolute;
    right: 20px;
    top: 100px;
}

.component.second-component {
    background-color: red;
}

.component.third-component {
    background-color: blue;
}

.component.fourth-component {
    background-color: yellow;
}

.component.fifth-component {
    background-color: purple;
}

/* HEADERS */
.headers, h1 {
    font-family: "Helvetica";
    font-weight: lighter;
    text-align: center;
}

.headers {
  font-size: 90px;
}

.pagination-additional-class {
    margin: 0;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
    margin-right: 50px;
}

.demo-page-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.demo-page-contain__hint {
    margin-bottom: 20px;
}

/* PIE CHART */

button {
  margin: 10px;
  padding: 10px;
  font-family: "Verdana";
  border-radius: 10px;
  z-index: 2;
}

button:hover {
  opacity: 0.9;
  background-color: #F1D8F7;
  cursor: pointer;
}

/* CATEGORY PAGE */

.categories {
  margin-left: 110px;
}

.circle a, .circle2 a, .circle3 a, .circle4 a {
  position: relative;
  top: 115px;
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 10px;
}

.circle {
 text-align: center;
 margin: 10px;
 height: 250px;
 width: 250px;
 background-color: #4d94ff;
 border-radius: 100px;
 display: inline-block;
}

.circle2 {
 text-align: center;
 margin: 10px;
 height: 250px;
 width: 250px;
 background-color: #4d94ff;
 border-radius: 100px;
 display: inline-block;
}

.circle3 {
 text-align: center;
 margin: 10px;
 height: 250px;
 width: 250px;
 background-color: #4d94ff;
 border-radius: 100px;
 display: inline-block;
}

.circle4 {
 text-align: center;
 margin: 10px;
 height: 250px;
 width: 250px;
 background-color: #4d94ff;
 border-radius: 100px;
 display: inline-block;
}

.circle:hover, .circle2:hover, .circle3:hover, .circle4:hover {
 background-color: #4d94ff;
 opacity: 0.7;
}

.circle a:hover, .circle2 a:hover, .circle3 a:hover, .circle4 a:hover {
  color: white;
}
/* CAROUSEL  */
